# Loading Packages

In [3]:
library(ggplot2)
search()

 [1] ".GlobalEnv"        "package:ggplot2"   "package:stats"
 [4] "package:graphics"  "package:grDevices" "package:utils"
 [7] "package:datasets"  "package:methods"   "Autoloads"
[10] "package:base"

# c( , ) function/vector(mode,length)/list( , )

In [6]:
x<-5:10;x

[1]  5  6  7  8  9 10

In [14]:
#help(vector)

In [19]:
x<-vector('numeric',5);x

[1] 0 0 0 0 0

In [22]:
x[1]=9;x

[1] 9 0 0 0 0

In [25]:
# using c() function to create objects
x<-c(TRUE,FALSE);x

[1]  TRUE FALSE

In [37]:
x<-c("a","\\b",'cc');list(x,class(x),as.numeric(x),as.logical(x),as.character(x))

Warning message:
In eval(expr, envir, enclos): NAs introduced by coercion

[[1]]
[1] "a"   "\\b" "cc"

[[2]]
[1] "character"

[[3]]
[1] NA NA NA

[[4]]
[1] NA NA NA

[[5]]
[1] "a"   "\\b" "cc"

In [39]:
x<-1:9;list(x,as.logical(x),as.character(x))

[[1]]
[1] 1 2 3 4 5 6 7 8 9

[[2]]
[1] TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE TRUE

[[3]]
[1] "1" "2" "3" "4" "5" "6" "7" "8" "9"

In [45]:
x<-c('a',5,TRUE,1+9i);list(x,as.numeric(x),as.character(x),x[4])

Warning message:
In eval(expr, envir, enclos): NAs introduced by coercion

[[1]]
[1] "a"    "5"    "TRUE" "1+9i"

[[2]]
[1] NA  5 NA NA

[[3]]
[1] "a"    "5"    "TRUE" "1+9i"

[[4]]
[1] "1+9i"

# matrix(1:(m*n),nrow=m,ncol=n)/cbind(,)/rbind(,)

In [56]:
m<-matrix(nrow=2,ncol=3);list(m,dim(m),attributes(m))

[[1]]
     [,1] [,2] [,3]
[1,]   NA   NA   NA
[2,]   NA   NA   NA

[[2]]
[1] 2 3

[[3]]
[[3]]$dim
[1] 2 3

In [58]:
# compare with the last expression
m<-matrix(2,3);list(m,dim(m),attributes(m))

[[1]]
     [,1]
[1,]    2
[2,]    2
[3,]    2

[[2]]
[1] 3 1

[[3]]
[[3]]$dim
[1] 3 1

In [63]:
m<-3;n<-2;matrix(1:(m*n),nrow=m,ncol=n);m

     [,1] [,2]
[1,]    1    4
[2,]    2    5
[3,]    3    6

[1] 3

In [67]:
# dim() is modifiable
mm<-1:10;dim(mm)<-c(2,5);mm

     [,1] [,2] [,3] [,4] [,5]
[1,]    1    3    5    7    9
[2,]    2    4    6    8   10

In [71]:
# row and column binding
x<-1:3;y<-10:12;z<-5:7;list(cbind(x,y),rbind(x,y,z))

[[1]]
     x  y
[1,] 1 10
[2,] 2 11
[3,] 3 12

[[2]]
  [,1] [,2] [,3]
x    1    2    3
y   10   11   12
z    5    6    7

# Factors

In [84]:
x<-factor(c("yes",'yes','yes','no'));list(x,unclass(x),table(x),levels(x));

[[1]]
[1] yes yes yes no
Levels: no yes

[[2]]
[1] 2 2 2 1
attr(,"levels")
[1] "no"  "yes"

[[3]]
x
 no yes
  1   3

[[4]]
[1] "no"  "yes"

In [85]:
# summary of the factors
table(x)

x
 no yes
  1   3

In [86]:
x<-factor(c("yes",'yes','no'),levels=c('yes','no'));list(x,unclass(x),table(x),levels(x));

[[1]]
[1] yes yes no
Levels: yes no

[[2]]
[1] 1 1 2
attr(,"levels")
[1] "yes" "no"

[[3]]
x
yes  no
  2   1

[[4]]
[1] "yes" "no"